@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Merienda|Oswald');
body {
width: 960px;
font-size: 14px;
font-family: 'Oswald', serif;
background-color: rgb(255, 255, 255);
vertical-align: middle;
margin-left: auto;
margin-right: auto;
}
header {
  position: relative;
  border: 2px solid #222;
  height: 225px;
  width: 960px;
  margin-bottom: -20px
}

header h1{
  font-family: 'Abril Fatface', cursive;
font-size: 700%;
color: rgb(1, 41, 59);
}
header h1 {
   position:absolute;
   top: -50px;
   left: 280px;

}
header nav{
   position: absolute;
   bottom: 13px;
   left:180px;
}
nav li{
    display: inline;
    border-width: medium;
    border-style: solid;
    border-color: rgb(1, 41, 59);
    padding: 22px;
}
a:link {
    text-decoration: underline;
    color: rgb(3, 150, 143);
}

a:visited {
    text-decoration: underline;
    color: rgb(2, 32, 87)
}

a:hover {
    text-decoration: underline;
      color: rgb(3, 150, 143);
}

a:active {
    text-decoration: underline;
      color: rgb(3, 150, 143);
}

#education{
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-color: rgb(2, 75, 107);
  border-width: medium;
  padding: 0 20px;
  margin-top: 50px
}
#education h2{
font-family: 'Abril Fatface', cursive;

}

#experience{

  background-color: rgb(255, 255, 255);
    border-style: outset;
  border-color: rgb(2, 75, 107);
  border-width: medium;
  padding: 0 20px;
  margin-top: 10px;

}
#experience h2{
  font-family: 'Abril Fatface', cursive;
}

#projects{
  border-style: groove;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
    border-style: outset;
    border-width: medium;
  border-color: rgb(2, 75, 107);
  padding: 0 20px;
}
#projects h2{
  font-family: 'Abril Fatface', cursive;

}
#skills{
  background-color: rgb(255, 255, 255);
    border-style: outset;
  border-color: rgb(2, 75, 107);
    border-width: medium;
  padding: 0 20px;
  margin-top: 10px
}
#skills h2{
  font-family: 'Abril Fatface', cursive;
}
#publications{
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-color: rgb(2, 75, 107);
  border-width: medium;
  padding: 0 20px;
  margin-top: 10px
}
#publications h2{
  font-family: 'Abril Fatface', cursive;

}
#other {
  background-color: rgb(255, 255, 255);
    border-style: outset;
  border-color: rgb(2, 75, 107);
  border-width: medium;
  padding: 0 20px;
  margin-top: 10px;
}
#other h2{
  font-family: 'Abril Fatface', cursive;

}
footer{
  background-color: rgb(255, 255, 255);
    border-style: outset;
border-color: rgb(2, 75, 107);
  border-width: medium;
  padding: 0 20px;

  margin-top: 10px
}
#photos{
  height: 400px;

  margin: 0px;
  border-style: inset;
}
#silver{
  position: absolute;
  top: 0;
}
#cage1{
  position: absolute;
  bottom: 10px;

}
#glass{
  position: absolute;
  top: 0;
  left: 200px;

}
#robert{
  position: absolute;
  ri
}
#cage2{
  position: relative;
  left:200px

}
#strutsid{
  position: absolute;
  margin-left: 200px
}
